!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# build
dist/
coverage
target/

# temp and sys
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
*.log

# other
.project
.*proj
*.swp
*.swo
*.pyc
*.pyo


